<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <div class="chat">
      <% messages.forEach((message) =>{ %>
      <a href="/messages/<%= message.id %>" class="message-link">
        <div class="message">
          <div class="user"><%= message.username %></div>
          <div class="text"><%= message.text %></div>
          <div class="time"><%= message.added.toLocaleTimeString() %></div>
        </div>
      </a>
      <% }); %>
    </div>
    <a href="/new">Leave a message</a>
  </body>
</html>
